<!DOCTYPE html>
{% load static %}
<html>
 <head>
     <title>candydoll</title>
  <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "style.css" %}"
 </head>
 <body>
    <header>
      <div class="logo"> логотип </div>
      <ul class="header-menu">
            <li>
                <a href="">Каталог</a>
            </li>
          <li>
                <a href="">Оплата</a>
            </li>

          <li>
                <a href="">Контакты</a>
            </li>
          <li>
                <a href="">Корзина</a>

            </li>
      </ul>
    </header>


    <div class="catalog">
        <div class="dropdown">
        <h1><a href="#">Упаковка</a></h1>
                      <div class="dropdown-child">
    <a href="#">Торты</a>
    <a href="#">Капкейки</a>
    <a href="#">Конфеты и шоколад</a>
    <a href="#">Печенье, пряники </a>
    <a href="#">Зефир и Macarons</a>
    <a href="#">Креманки для трайфлов</a>
    <a href="#">Пакетики для сладостей</a>
    <a href="#">Ленты, бумажные наполнители</a>
    <a href="#">Подложки</a>

  </div>
        </div>

                <div class="dropdown">
        <h1><a href="#">Пищевые красители</a></h1>
                      <div class="dropdown-child">
    <a href="#">Красители<br>Гелевые</a>
    <a href="#">Водорастворимые</a>
    <a href="#">Жирорастворимые</a>
    <a href="#">Цветочная пыльца</a>
    <a href="#">Кандурин</a>
    <a href="#">Фломастеры<br>для рисования</a>

  </div>
        </div>

        <div class="dropdown">
        <h1><a href="#">Инструменты и формы</a></h1>
                      <div class="dropdown-child">
    <a href="#">Красители<br>Гелевые</a>
    <a href="#">Водорастворимые</a>
    <a href="#">Жирорастворимые</a>
    <a href="#">Цветочная пыльца</a>
    <a href="#">Кандурин</a>
    <a href="#">Фломастеры<br>для рисования</a>

  </div>
        </div>

        <div class="dropdown">
        <h1><a href="#">Бумажные формы и капсулы</a></h1>
                      <div class="dropdown-child">
    <a href="#">Красители<br>Гелевые</a>
    <a href="#">Водорастворимые</a>
    <a href="#">Жирорастворимые</a>
    <a href="#">Цветочная пыльца</a>
    <a href="#">Кандурин</a>
    <a href="#">Фломастеры<br>для рисования</a>

  </div>
        </div>

        <div class="dropdown">
        <h1><a href="#">Пищевые ингредиенты</a></h1>
                      <div class="dropdown-child">
    <a href="#">Красители<br>Гелевые</a>
    <a href="#">Водорастворимые</a>
    <a href="#">Жирорастворимые</a>
    <a href="#">Цветочная пыльца</a>
    <a href="#">Кандурин</a>
    <a href="#">Фломастеры<br>для рисования</a>

  </div>
        </div>

        <div class="dropdown">
        <h1><a href="#">Посыпки и украшения</a></h1>
                      <div class="dropdown-child">
    <a href="#">Красители<br>Гелевые</a>
    <a href="#">Водорастворимые</a>
    <a href="#">Жирорастворимые</a>
    <a href="#">Цветочная пыльца</a>
    <a href="#">Кандурин</a>
    <a href="#">Фломастеры<br>для рисования</a>

  </div>
        </div>


    </div>


  <footer>
  </footer>
 </body>
</html>